.our-services{
    padding: 150px 0;
    h2{
        font-weight: 500;
        font-size: 80px;
        line-height: 95px;

        margin-bottom: 100px;
    }
}

.our-services-content{
    width: 100%;
    padding-top: 50px;
    border-top: 1px solid rgba(0,0,0,0.2);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 40px;
    flex: 1 0;

    h3{
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 30px;
    }

    p{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
    }

    .our-services-text{
        flex: 1 0;
    }
}