.cooperation-procedure{
    padding: 150px 0;
    background: #FFFFFF;

    h2{
        font-weight: 500;
        font-size: 54px;
        line-height: 120%;
        margin-bottom: 50px;

        color: #F49422;
    }

    .cooperation-procedure-content{
        display: flex;
        flex-direction: row;   
        grid-gap:40px;

        .cooperation-procedure-info{
            flex: 1 0;
            
            .cooperation-procedure-text{
                display: flex;
                flex-direction: column;
                grid-gap: 30px;

                font-weight: 400;
                font-size: 22px;
                line-height: 150%;
            }
        }
    }
    

    

    
}