/*----------colors------------*/
$orange: #F49422;
$light-grey: #F6F6F6;
$black: #120C04;


/*----------breakpoints------------*/
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;
$breakpoint-desktop: 1023px;

$maxWidth: 1480;

