@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500&display=swap');

@mixin block-titles {
    white-space: nowrap;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 95px;
    margin: 0;
}

@mixin block-paragraphs {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    margin: 0;
}


$block-paddings-desk: 150px 80px 150px 80px;

$orange:#F49422;

$grey:#F7F7F7;

.block-text{
    @include block-paragraphs;
}

img{
    max-width: 100%;
    height: auto;
}

#hero-block{
    height: 450px;
    background-image: url('hero.svg'); 
    background-size: cover; 
	/*background-position: center center;*/
    background-repeat: no-repeat;
    padding-top: 336px;
    padding-left: 80px;
    color: #FFFFFF;
}

#hero-block h1{
    font-family: 'Rubik';
    font-style: normal;
    height: 265px;
    font-weight: 700;
    font-size: calc(30px + 90 * ((100vw - 320px) / (1440 - 320)));
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 33px;
}

#hero-block p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
}

/*****************************************OUR SERVICES**********************************************/

#our-services{
    padding: $block-paddings-desk;
    color: #120C04;
}

.block-title{
    margin: 0 0 100px 0;
    @include block-titles;
}

#our-services h3{
    margin: 50px 0 50px 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
}

#our-services p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
}

#our-services hr{
    margin: 0;
}

#our-services-text{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}




/***********************************our_services_block2******************************************/

#our-services-orange{
    display: flex;
    padding: $block-paddings-desk;
    background-color: $orange;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    color: #FFFFFF;
}

.our-services-list{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    list-style: none;
    padding: 0;
    max-width: 380px;
    width: 100%;
    margin: 0 287px 0 0;
}

.our-services-text-block {
    max-width: 620px;
    width: 100%;
    margin: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
}
.our-services-text-block p {
    margin: 0;
}

#our-services-orange li{
    margin-bottom: 20px;
}
#our-services-orange li{
    margin-bottom: 20px;
}



/************************************cooperation-offer**********************************************/

#cooperation-offer{
    padding: $block-paddings-desk;
    color: #120C04;
    background: #F7F7F7;
}

#cooperation-offer .block-title{
    margin: 0 0 30px 0;
    @include block-titles;
}


#cooperation-offer .block-text{
    @include block-paragraphs;
    margin: 0;
}
    
#cooperation-offer h3{
    margin: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 120%;
    /* identical to box height, or 65px */

    color: $orange;
}
#cooperation-offer h5{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    color: #120C04;
}
#cooperation-offer li{
    list-style-image: url("advantage-icon.svg" );
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    color: #120C04;
}

.cooperation-offer-blocks{
    justify-content: space-between;
    margin: 50px 0 80px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cooperation-offer-text{
    max-width: 730px;
}

/*********************************************Non-Disclosure*********************************************/

#non-disclosure{
    padding: $block-paddings-desk;
    display: flex;
    flex-direction: row;
}




#non-disclosure img{
}

#non-disclosure h3{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    /* identical to box height, or 48px */

    color: #120C04;
}

#non-disclosure p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    color: #120C04;
}


/***********************************Our Support************************************/
#our-support {
    padding: $block-paddings-desk;
    background: $orange;
}

#our-support h2 {
    margin: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 120%;
    color: #FFFFFF;
}

#our-support p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;
}
/************************************About Us********************************/
#about-us{
    padding: $block-paddings-desk;
}

#about-us .block-title{
    @include block-titles;
}

#about-us p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    /* or 33px */
    margin-bottom: 30px;
    
    color: #120C04;
}


/************************************Why Us****************************************/
#why-us{
    background: $grey;
    padding: $block-paddings-desk;
}

.why-us-colored-blocks{
    display: flex;
    margin-left: -80px;
    margin-right: -80px;
    justify-content: space-between;
}

.orange-text-block{
    max-width: 700px;
    width: 100%;
    background: $orange;
}

.grey-text-block{
    max-width: 700px;
    width: 100%;
    background: $grey;
}
/***********************************Coopreation Procedure ***********************/
#cooperation-procedure{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: $block-paddings-desk;
}