.why-us{
    padding: 150px 0;
    background: #F6F6F6;
    
    h2{
        font-weight: 500;
        font-size: 80px;
        line-height: 120%;
        margin-bottom: 100px;
    }

    p{
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
    }
    .why-us-content{
        display: flex;
        grid-gap: 40px;
        flex-direction: column;

            .info-row{
            display: flex;
            grid-gap: 42px;
            font-family: 'Rubik', sans-serif;
            justify-content: space-between;
            flex-direction: row;
            align-items: flex-start;
            font-family: 'Rubik', sans-serif;
            
            .why-us-text{
                display: flex;
                flex: 1 0;
                grid-gap: 20px;
                flex-direction: column;
                align-items: flex-start;
            }

            #why-us-orange{
                max-width: 620px;
                padding: 70px 110px;
                background: linear-gradient(270deg, #F49422 0%, #ED8100 100%);
                color:  #FFFFFF;
                font-family: 'Roboto';
                font-weight: 500;
            }
        }
    }
    
}


@media screen and (max-width: 768px) {
    .why-us{
        padding: 60px 0 70px 0;
        
        h2{
            font-size: 32px;
            margin-bottom: 30px;
        }
        .why-us-content{
            grid-gap: 18px;
    
                .info-row{
                grid-gap: 18px;
                flex-direction: column;

                #why-us-orange{
                    max-width: 600px;
                    padding: 70px 93px;
                }
            }
        }
        
    }
}