
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    padding-left: 80px;
    padding-right: 80px;
    height: 80px;
    background-color: #FFFFFF;

    
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

#navigation ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    list-style: none;

    padding-left: 0;
}

#navigation li{
    margin-right: 80px;
}

#navigation li:last-child{
    margin-right: 0;
}

#navigation a{
    text-decoration: none;
    color: #120C04;
}

#navigation a:visited{
    color: #120C04;
}

#navigation a:hover{
    color: #F49422;
}

.contact-button{
    height: 20px;
    font-size: 16px;
    padding: 14px 47px;
    border: 1px solid #F49422; 
}

.contact-button a{
    text-decoration: none;
    color: #120C04;
}

.contact-button a:visited{
    color: #120C04;
}

.contact-button a:hover{
    color: #F49422;
}
