.burger-menu {
    position: fixed;
    display: none;
    top: 20px;
    right: 20px;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
  }
  
  .burger-menu.isOpen {
    display: flex;
    align-items: flex-start;
  }

  .open{ display: block}

 