.non-disclosure{
    padding: 150px 0;
}

.non-disc-info{
    display: flex;
    grid-gap: 80px;
    flex-direction: column;
}

.non-disc-block {
    display: flex;
    flex-direction: row;
    grid-gap: 150px;

    h3{
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;

        margin-bottom: 50px;

        color: #120C04;
    }

    p{
        padding-top: 30px;
        border-top: 1px solid rgba(0,0,0,0.2);

        font-weight: 400;
        font-size: 18px;
        line-height: 150%;

        color: #120C04;
    }
}