.header{

    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 80px;

        a{
            flex: 1 1 auto;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }
    }

    .contact-us-header{
        color: #120C04;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;

        display: block;
        padding: 14px 47px;
        border:  1px solid #F49422;
    }
}
