@import "../../../styles/mixins";

.cooperation-procedure {
    padding: 150px 0;
    background: #ffffff;

    h2 {
        font-weight: 500;
        font-size: 54px;
        line-height: 120%;
        margin-bottom: 50px;

        color: #f49422;
    }

    .cooperation-procedure-content {
        display: flex;
        flex-direction: row;
        grid-gap: 40px;

        .cooperation-procedure-info {
            flex: 1 0;

            .cooperation-procedure-text {
                display: flex;
                flex-direction: column;
                grid-gap: 30px;

                font-weight: 400;
                font-size: 22px;
                line-height: 150%;
            }
        }
    }
}

@include tablet {
    .cooperation-procedure {
        padding: 50px 0 70px 0;

        h2 {
            font-size: 32px;
            margin-bottom: 30px;
        }

        .cooperation-procedure-content {
            flex-direction: column;
            grid-gap: 40px;

            .cooperation-procedure-info {
                .cooperation-procedure-text {
                    font-size: 18px;
                }
            }
        }
    }
}

@include mobile {
    .cooperation-procedure {
        @include padding-mobile;
        .cooperation-procedure-content {
            flex-direction: column;
            grid-gap: 40px;
        }
    }
}
