/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
$roboto:'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
$rubik:'Rubik', sans-serif;

@import "/src/styles/variables";
@import "/src/styles/mixins";


body{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    font-family: $rubik;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;


     @include tablet {
        min-width: 580px;
        padding: 0 94px;
    }

    @include mobile {
        min-width: 280px;
        padding: 0 20px;
    }
}


